robots.txt
*.DS_Store
.DS_Store
*.log
.vscode
.htaccess
.htpasswd
sitemap.xml
sitemap.xml.gz
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/themes/*/node_modules
wp-content/.DS_Store

wp-config-local.php
node_modules

w3tc-config/
local-adminer-DdR2MTm9k.php

# WP core
wp-admin
wp-includes
wp-*.php
xmlrpc.php
readme.html
license.txt
!wp-config-pantheon.php
!wp-config-local-sample.php
!wp-config.php

# Development env
.env
.git.tar.gz
*.code-workspace
*.bak
.well-known